*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.about-section{
    background: url(https://t3.ftcdn.net/jpg/05/84/47/78/360_F_584477814_qTDX0npw9a5oZi8Fh2hcttKoNsyRaGh4.jpg) no-repeat left;
    background-size: 55%;
    background-color: white;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding:100px 0;
    
}
.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 152px;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

@media screen and (max-width:1200px){
    .innerscreen -container{
        padding: 80px;
    }
}
@media screen and (max-width: 1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container {
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .about-section{
        padding: 0;
    }
    .inner-container {
        padding: 60px;
    }
}