@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

.formMain{
    display: flex;
    justify-content: center;
    padding: 0 10% 10%;
    flex-direction: column;
}
.headLine{
    position: relative;
    padding: 3vh;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#sname{
    background-color: black;
}
.title h1{
    font-weight: 800;
    font-size: 5rem;
    color: white;
    text-align: center;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.custom-container{
    display: flex;
    width: 100%;
    height: auto;
    padding: 0 20vh 20vh;
}
.form{
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: transparent;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    
}
.form-div{
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.form-left{
    width: 50%;
    height: auto;
    padding: 15px;
    justify-content: space-between;
}
.form-right{
    width: 50%;
    height: auto;
    padding: 15px;
    justify-content: space-between;
}
.form-group{
    padding: 5px;
    
}
.form-group label{
    color: black;
}
.form-group input,
.form-group select{
    width: 100%;
    height: 36px;
    padding: 5px;
    font-size: medium;
    border: solid;
    background-color:transparent;
    border-color: black;
    border-width: 1.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.form-group textarea{
    width: 100%;
    height: 145px;
    padding: 5px;
    font-size: medium;
    border: solid;
    background-color:transparent;
    border-color: black;
    border-width: 1.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.form-group input:focus{
    background-color: transparent;
}
.form-select option{
    color: rgb(0, 0, 0);
}
form div{
    padding-bottom: 5px;
}
.custom-container{
      margin-left: auto;
      margin-right: auto;
}
.submitBtn{
    width: 100%;
    width: 100%;
    height: 40px;
    font-size: medium;
    background-color:rgb(97, 75, 243);
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Responsive */
@media (max-width: 1500px) {
    .title h1{
        font-size: 4rem;
    }
    .custom-container{
        padding: 0;
    }
    .form{
        padding: 0px;
    }
    .form-div{
        width:100%;
        height: auto;
        padding: 20px;
    }
    .form-left{
        width: 50%;
    }
    .form-right{
        width: 50%;
    }
}


@media (max-width: 500px) {
    
    .custom-container{
        padding: 0;
    }
    .form-group{
        padding: 10px;
        
    }
    .form{
        padding: 0px;
        height: auto;

    }
    .form-div{
        flex-direction: column;

    }
    .form-left{
        width: 100%;
    }
    .form-right{
        width: 100%;
    }
  }