@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');


/* .circle-1{
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(-45deg, #753a88, #cc2b5e);
    border-radius: 50%;
    top: 60%;
    left: 30%;
    animation: float 2s infinite ease-in-out;
}
.circle-2{
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(-45deg, #2193b0,#6dd5ed);
    top: 5%;
    left: 65%;
    border-radius: 50%;
    animation: float 2s 1s infinite ease-in-out;
} */

/* @keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateY(-20);
    }
} */
/* HEAD LINE */
.headLine{
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.title{
    padding-top:5vh;
    padding-bottom: 2vh;
}
.title p{
    font-size: larger;
    font-size: 60px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 7vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* CARD ALAIGHMENT */
.custom-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    width: auto;
    padding-bottom: 10vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
} 

/* CARD */
.form-div{
    width: 100vh;
    height: auto;
    padding: 50px;
    background-color: transparent;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.form-left{
    width: 50%;
    height: 55vh;
    float: left;
    padding: 15px;
    justify-content: space-between;
}
.form-right{
    width: 50%;
    height: 55vh;
    float: left;
    padding: 15px;
    justify-content: space-between;
}

/* ____________________ */

.form-group{
    padding: 5px;
    
}
.form-group label{
    color: black;
}
.form-group input,
.form-group select{
    width: 100%;
    height: 36px;
    padding: 5px;
    font-size: medium;
    border: solid;
    background-color:transparent;
    border-color: black;
    border-width: 1.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.form-group textarea{
    width: 100%;
   height: 102px;
    padding: 5px;
    font-size: medium;
    border: solid;
    background-color:transparent;
    border-color: black;
    border-width: 1.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.form-group input:focus{
    background-color: transparent;
}
.form-select option{
    color: rgb(0, 0, 0);
}
form div{
    padding-bottom: 5px;
}
.custom-container{
      margin-left: auto;
      margin-right: auto;
}
.submitBtn{
    width: 100%;
    width: 100%;
    height: 40px;
    font-size: medium;
    background-color:rgb(97, 75, 243);
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}
@media (max-width: 1000px) {
    form{
        padding: 20px;
    }
    .form-div{
        width:60vh;
        height: 65vh;
        padding: 20px;
    }
    .form-left{
        width: 50%;
        float: left;
        padding-top: 5vh;
    }
    .form-right{
        width: 50%;
        float: left;
        padding-top: 5vh;
    }
}
@media (max-width: 500px) {
    .form-group{
        padding: 10px;
        
    }
    form{
        padding: 20px;
    }
    .form-div{
        width:50vh;
        height: 160vh;
        padding-top: 20px;
    }
    .form-left{
        width: 100%;
        float: none;
        padding: 10px;
        height: auto;
    }
    .form-right{
        width: 100%;
        height: auto;
        float: none;
        padding: 10px;
        
    }
  }