@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.Row{
  width: auto;
  height: auto;
}

.ul-br{
  margin: 1.5em;

} 
.ul-list{
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  overflow: auto;
}

.ul-list ul{  
  color: rgb(1, 1, 2);
  margin: 0;
  padding: 0;
  text-align: start;
}

/* Search bar */
.search-div{
    width: auto;
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.search-div input{
    background: transparent;
    border: solid;
    border-color: black;
    border-width: 1.5px ;
    border-radius: 50px;
    height: 5vh;
    outline: none;
    margin-top: 10vh;
}
.search-div input:focus{
  background-color: white;
}
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vh;
    height: auto;
    margin: 20px auto;
  }

  .search-bar input[type="text"] {
    flex-grow: 1;
    height: 40px;
    float: left;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 16px;
  }

  .search-bar button[type="submit"] {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-top: 10vh;
  }

  .search-bar button[type="submit"]:focus,
  .search-bar button[type="submit"]:active {
    outline: none;
    box-shadow: none;
  }
  .search-bar button i{
    color: rgb(0, 0, 0);
  }

.App {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .search-bar-container {
    width: 90%;
    
  }
  .home-left{
    width: 100%;
    height: 100%;

  }
  
  .HeadLine{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }
  .Headline-text{
    /* padding-top: 30vh; */
    width: 90%;
  }
  
  .sub-span-a{
    color: green;
    font-weight: normal;
  }
  .sub-span-u{
    color: cornflowerblue;
    font-weight: normal;
  }
  .search-text{
    font-weight: normal;
  }

.input-wrapper {
  width: 100%;
  height: 2.5rem;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgb(66, 66, 66);
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

.search-input:focus {
  outline: none;
}

#search-icon {
  color: brown;
}