
.search-div{
    width: auto;
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.search-div input{
    background-color: white;
    /* background: transparent; */
    border: solid;
    border-color: black;
    border-width: 1.5px ;
    border-radius: 50px;
    height: 5vh;
    outline: none;
    margin-top: 10vh;
}
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    /* width: 400px;
    margin: 20px auto; */
    float: left;
  }

  .search-bar input[type="text"] {
    flex-grow: 1;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 16px;
  }

  .search-bar button[type="submit"] {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-top: 10vh;
    float: left;
  }

  .search-bar button[type="submit"]:focus,
  .search-bar button[type="submit"]:active {
    outline: none;
    box-shadow: none;
  }
  .search-bar button i{
    color: rgb(0, 0, 0);
  }

  @media (max-width:500px){
    .search-div{
        width: auto;
        height: 70vh;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .search-div input{
        background-color: white;
        border-radius: 50px;
        height: 5vh;
        width: 40vh;
        outline: none;
        border: none;
    }
  }

  @media (max-width: 1000px) {
    .search-div{
        width: auto;
        height: 70vh;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .search-div input{
        background-color: white;
        border-radius: 50px;
        height: 5vh;
        width: 40vh;
        outline: none;
        border: none;
    }
  }
    
