.loginForm{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
    /* transition: background-color .2s ease-in-out; */
}

.in1{
    width: 70%;
    height: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid white;
}
#inp1 {
    width: 90%;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    position: absolute;
}
.in1 label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    transition: 0.5s;
}
.in1 ion-icon{
    position: absolute;
    right: 5px;
    font-size: 22px;
}
#inp1:focus ~ label,
#inp1:valid ~ label{
    top: -90%;
}
.in2{
    width: 70%;
    height: 25px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid white;
}
#inp2{
    width: 90%;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    position: absolute;
}
.in2 label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    transition: 0.5s;
    pointer-events: none;
}
.in2 ion-icon{
    position: absolute;
    right: 5px;
    font-size: 22px;
}
#inp2:focus ~ label,
#inp2:valid ~ label{
    top: -90%;
}
.in3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.in3 input{
    padding: 5px;
    flex: 1;
}
.in3 label{
    padding: 5px;
    width: auto;
    font-size: 15px;
}
form img{
    width: 20vh;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#inp4{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: white;
    background-color:rgba(0, 128, 128, 0.829);
    border-radius: 10px;
    width: 70%;
    height: 40px;
    font-size: large;
    font-weight: 600;
}
#inp4:hover{
    background-color: teal;
    color: white;
}
.checkk{
    position: absolute;
    top: 70%;
    left: 36%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
form h5{
    position: absolute;
    top: 69%;
    left: 65%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 600px){
    .form1 {
        position: absolute;
        top: 60%;
        width: 380px;
        height: 430px;
    }
    .box img{
        width: 60vh;
    }
}
@media screen and (max-width: 400px){
    .form1 {
        position: absolute;
        top: 60%;
        width: 300px;
        height: 400px;
    }
    .form1 h6{
        display: none;
    }
    .form1 .checkk{
        left: 50%;
    }
}